body.contact {
    font-family: 'Open Sans', sans-serif;
    background-image: url('/images/backgrounds/logo_bg.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #fbf4f4;
}

h1.contact-title {
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

body.contact textarea, body.contact input {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-send {
    background-color: #336B87; /* Button background color */
    color: #FFFFFF; /* Button text color */
    border: none; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 10px; 
    transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
}

.btn-send:hover {
    background-color: #90AFC5; /* Hover background color */
    color: #2A3132; /* Hover text color */
}

.btn-ok {
    background-color: #336B87; /* Button background color */
    color: #FFFFFF; /* Button text color */
    border: none; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 10px; 
    transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
}

.btn-ok:hover {
    background-color: #90AFC5; /* Hover background color */
    color: #2A3132; /* Hover text color */
}

.link-blue {
    color: #336B87; /* text */
    transition: background-color 0.3s, color 0.3s; 
}

.link-blue:hover {
    background-color: #90AFC5; 
    color: #2A3132; 
}

.text-brown {
    color: #50312F;
}