/* modal.css */
.modal-header {
    background-color: #336a80; /* ヘッダーの背景色 */
    color: white; /* ヘッダー内のテキストの色 */
    border-bottom: none; /* 必要ならボーダーも非表示にできます */
}


.modal-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body i {
    margin-bottom: 15px;
}

.modal-footer {
    border-top: none;
    justify-content: center;
}


.btn-modal {
    background-color: #2A3132; /* ボタンの背景色 */
    color: #FBF4F4; /* ボタンのテキスト色 */
    border: none; /* ボタンの境界線を無効にする */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    text-decoration: none; /* 下線を消す */
}

.btn-modal:hover {
    background-color: #B3B3B3; /* ホバー時の背景色 */
    color: #2A3132; /* ホバー時のテキスト色 */
    text-decoration: none; /* ホバー時も下線を消す */
}

.btn-modal + .btn-modal {
    margin-left: 30px; /* ボタン間のスペース */
}

/* 画像の大きさやテキストのカスタマイズ */
.image-lg {
    width: 80px; /* 画像のサイズを調整 */
    height: auto;
}

p.text-muted {
    font-size: 14px;
}