body {
  background-image: url(../images/backgrounds/sign_bg_2.svg);

  /* 背景画像のサイズを調整 */
  background-size: cover; /* 画像を全体にフィットさせる */
  background-position: center; /* 画像を中央に配置 */

  /* 背景のその他の調整 */
  background-repeat: no-repeat; /* 背景画像を繰り返さない */
}

.sign_container {
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.sign_container h1 {
  font-size: 75px;
  text-align: center;
  font-family:  "Lato", sans-serif;
}


.sign_container label {
  font-size: 24px;
}

.sign_container input {
  border-color: #2A3132;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* 角を丸くする */
}

.sign_container button {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  background-color: #336B87;
  border: none;
  width: 100%;
  border-radius: 10px; /* 角を丸くする */
}

.sign_container button:hover {
  background-color: #90AFC5;
  color: #2A3132;
}

.sign_container a {
  font-size: 16px;
  color: black;
}

.sign_container a:hover {
  color: #90AFC5;
}

.forgot_pass {
  text-align: center;
}

