/*body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/christmas.png'); /* 画像のパスを設定 */
    /*background-size: cover; /* 画像を画面全体に広げる */
    /*background-position: center; /* 画像の中心を表示 */
    /*background-color: #FBF4F4;
    height: 100vh; /* ビューポート全体の高さ */
    /*min-height: 250vh; /* ビューポート全体の高さ */
/*}*/

body {
    background-image: url('/images/christmas.png'); /* 画像のパスを設定 */
    background-size: cover; /* 画像を画面全体に広げる */
    background-position: center; /* 画像の中心を表示 */
    background-attachment: fixed; 
}

.post-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* 縦方向に並べる */
    min-height: 250vh; /* ビューポート全体の高さ */
    
}

h1 {
    margin-top: 60px; /* ヘッダーの下にスペースを作る */
}

p {
    font-size: small;
}

/* 投稿カード */
.post-card {
    position: relative;
    background-color: #ffffff; /* 背景を白に */
    width:100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 軽い影を追加して浮かせる効果 */
    border-radius: 10px; /* 角を丸くする */
    border: none; /* 外枠をなしに */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* ナビゲーションバーとの間隔を40pxに設定 */
    margin-bottom: 80px;
    object-fit: cover; /* 画像が枠内に収まるように切り取る */
}

.icons {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;  /* アイコンを横並びに */
    gap: 20px; /* アイコン同士のスペースを調整 */
}

.icons i {
    font-size: 40px;
    color: #888;  /* デフォルトは灰色 */
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px;  /* 丸くする */
    padding: 5px;  /* アイコンの周りにスペース */
    background: transparent;  /* 塗りつぶしなし */
}

button {
    background: none;  /* ボタン背景なし */
    border: none;  /* 枠線なし */
    padding: 0;
    margin: 0;
    outline: none;  /* フォーカス時の四角い枠を消す */
}

button:focus {
    outline: none;  /* フォーカス時の枠を消す */
    box-shadow: none;  /* ボックスシャドウも消す */
}

#like-icon:hover {
    color:red;  /* ハートが赤くなる */
}

#favorite-icon:hover {
    color: #ffd700;  /* 星が金色になる */
}

/* その他のスタイル */

.post-card img {
    width: 100%; /* カードの幅に合わせる */
    height: auto; /* 縦横比を保持しつつ高さを自動調整 */
    max-height: 300px; /* 最大高さを300pxに設定 */
    border-radius: 10px; /* 角を丸くする */
    margin-bottom: 20px;
    object-fit: cover; /* 画像が枠内に収まるように切り取る */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 軽い影を追加 */

}

/* 投稿カード内のコンテンツ */
.post-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.post-content p {
    font-size: 1rem;
    color: #555;
    text-align: center;
    
}

/* 上の写真ギャラリー */
.carousel-indicators-wrapper {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* 背景を少し白くして視認性を向上 */
    border-radius: 10px;
}
.carousel-indicators-wrapper {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* 背景を少し白くして視認性を向上 */
    border-radius: 10px;
}
.carousel-indicators-wrapper button {
    border: none; /* ボタン要素の枠線を削除 */
    outline: none; /* ボタンのアウトラインを削除 */
    background: transparent; /* ボタンの背景を透明に */
    padding: 0; /* 余分なスペースを排除 */
    cursor: pointer; /* マウスホバー時にカーソルを指カーソルに */
}
.carousel-indicators-wrapper button img {
    width: 100px; /* サムネイルの幅 */
    height: 70px; /* サムネイルの高さ */
    object-fit: cover; /* アスペクト比を保ってコンテナに収める */
    border-radius: 10px; /* サムネイルの角を丸くする */
    border: 2px solid transparent; /* 初期状態で透明な枠線 */
    transition: border-color 0.3s ease; /* スムーズな遷移効果 */
}
.carousel-indicators-wrapper button:hover img,
.carousel-indicators-wrapper button.active img {
    border-color: #007BFF !important; /* ホバー時に枠線を青色に強制変更 */
}
.main-carousel-img {
    height: 400px; /* メイン画像の高さを固定 */
    object-fit: cover; /* 画像のアスペクト比を保ちながらカルーセルのサイズに収める */
    border-radius: 10px; /* メイン画像の角を丸くする */
}
.thumbnail-img {
    width: 60px; /* サムネイルのサイズ */
    height: 40px; /* 高さを指定して、比率を統一 */
    object-fit: cover; /* サムネイル画像をコンテナに収める */
    cursor: pointer; /* ポインターにカーソルを変更 */
    border: 2px solid transparent; /* デフォルトの状態で透明な枠線 */
    transition: border-color 0.3s ease; /* ホバー時のスムーズな遷移 */
}
.thumbnail-img:hover {
    border-color: #007BFF; /* ホバー時にボーダー色をブルーに変更 */
}

/* 横線のスタイル */
.divider {
    width: 100%; /* 横線の幅をカードの幅に合わせる */
    border: none; /* デフォルトの境界線を無効にする */
    border-top: 1px solid #ccc; /* 上側の境界線を作成 */
    margin: 20px 0; /* 上下に20pxのマージンを追加 */
}

/* 地図と天気のコンテナ */
.info-container {
    display: flex; /* 横並びにする */
    justify-content: space-between; /* 要素の間にスペースを均等に配置 */
    width: 100%; /* カードの幅に合わせる */
    margin-top: 20px; /* 上に少しスペースを追加 */
    padding: 0 5%;                /* 左右に均等な余白 */
    gap: 20px;  /* 要素間のスペースを20pxに設定 */
}

/* 地図と天気のスタイル */
.map, .weather {
    width: 48%; /* 各要素を横に2つ並べるために48%に設定 */
    padding: 10px;
    background-color: #FBF4F4; /* 背景色 */
    border-radius: 5px; /* 角を丸くする */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 軽い影を追加 */
    margin-bottom: 40px;
    min-width: 0;
}

/* フォームとその中の要素が重なるように調整 */
.map-form {
    display: block;
    width: 100%; /* 親コンテナに合わせる */
    height: 100%; /* 中の要素に合わせる */
    margin: 0;
    padding: 0;
    border: none;
}

/* .map のスタイル */
.map {
    width: 100%; /* フォームと同じ幅 */
    height: 100%; /* フォームと同じ高さ */
    padding: 20px;
    background-color: #FBF4F4; /* 背景色 */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 軽い影 */
    box-sizing: border-box; /* パディングを含む幅計算 */
    cursor: pointer; /* クリックできることを示す */
    flex: 5; /* 天気の幅を少し狭く設定 */    
    }

/* Comments Section------------------------------------------------*/
/* コメントカード */
.comments-section {
    background-color: #FBF4F4; /* カードの背景色 */
    width: calc(100% - 30px); /* 幅を100%から20px引いた値に設定 */
    padding: 20px;
    border-radius: 10px; /* 角を丸くする */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 軽い影を追加 */
    margin-top: 40px; /* 上に少しスペースを追加 */
}

/* コメントフォームのスタイル */
.comments-section button {
    padding: 10px 15px; /* ボタンの内側の余白 */
    background-color: #336B87; /* ボタンの背景色 */
    color: #ffffff; /* ボタンのテキスト色 */
    border: none; /* ボタンの境界線を無効にする */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
}
.comments-section button:hover {
    background-color: #90AFC5; /* ホバー時の背景色 */
    color: #2A3132; /* ボタンのテキスト色 */
}
.btn-reply {
    background-color: #336B87; /* ボタンの背景色 */
    height: 25px !important; /* このスタイルは他のすべてのheight設定よりも優先されます */
    padding: 2px 8px !important; /* paddingの他の設定を上書きします */
    font-size: 8px  !important; /* テキストのサイズを小さく */
}
/* -----------------------------------------------------------*/


/* Event & Tourism ----------------------------------------------------*/
/* イベントと観光のスタイル */
.event, .tourism {
    width: 48%; /* 各要素を横に2つ並べるために48%に設定 */
    padding: 10px;
    background-color: #FBF4F4; /* 背景色 */
    border-radius: 5px; /* 角を丸くする */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 軽い影を追加 */
}

.event-tourism-container {
    display: flex; /* 横並びにする */
    justify-content: center space-between; /* 要素の間にスペースを均等に配置 */
    width: 100%; /* カードの幅に合わせる */
    margin-top: 20px; /* 上に少しスペースを追加 */
    gap: 20px;  /* 要素間のスペースを20pxに設定 */
    justify-content: space-around; /* コンテナ内で均等に配置 */
    text-align: center;  /* テキストを中央揃えに */
    
}

.event {
    width: 48%;
    padding: 10px;
    background-image: url('/images/market.png'); /* 背景画像を指定 */
    background-size: cover; /* 画像を要素のサイズに合わせる */
    background-position: center; /* 画像を中央に配置 */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tourism {
    width: 48%;
    padding: 10px;
    background-image: url('/images/sea.png'); /* 背景画像を指定 */
    background-size: cover; /* 画像を要素のサイズに合わせる */
    background-position: center; /* 画像を中央に配置 */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* -----------------------------------------------------------*/


/* Small posts  --------------------------------------------------*/

.dropdown button {
    height: 40px; /* 高さを調整 */
    padding: 10px 15px; /* ボタンの内側の余白 */
    background-color: #336B87; /* ボタンの背景色 */
    color: #ffffff; /* ボタンのテキスト色 */
    border: none; /* ボタンの境界線を無効にする */
    border-radius: 10px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
}

.dropdown button:hover {
    background-color: #90AFC5; /* ホバー時の背景色 */
    color: #2A3132; /* ボタンのテキスト色 */
}

.card {
    box-sizing: border-box; /* パディングやボーダーを含めた幅計算 */
    width: 18rem; /* 固定幅 */
}

/* カード全体のスタイル */
.small-post-container {
    display: flex;
    align-items: center;
    gap: 10px; /* カード間の隙間を調整 */
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
    width:100%;
    position: relative;
}

.small-post {
    flex: 0 0 calc(100% / 4); /* 1回に表示するカードの数に応じて調整 (4枚) */
    width: auto;
    padding: 10px;
}

.post-wrapper {
    /*width: 100%; /* 親要素の幅に合わせて調整 */
    width: 100%; /* 4枚分の幅 */
    display: flex;
    transition: transform 0.3s ease-in-out; /* スライドのアニメーション */
}

/* 個別のカード */
.post {
    width: 18rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
}

/* 画像のスタイル */
.post img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
}

/* タイトルの左寄せ */
.card-title {
    text-align: left;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
}

/* カード内のアイコン配置 */
.card-body .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.title-line{
    text-align: right;
}

/* アイコンのボタン */
.card-body .btn {
    text-align: right;
    border: none;
    background: none;
    color: #888;
    padding: 0;
    cursor: pointer;
    transition: color 0.3s;
}

/* ホバー時の効果 */
.card-body .fa-heart:hover {
    color: red;
}

.card-body .fa-star:hover {
    color: gold;
}

/* カテゴリーバッジのスタイル */
.badge {
    margin-right: 5px;
    font-size: 0.85rem;
}

/* 「Read More」ボタンのスタイル */
.btn-small-post-card {
    width: fit-content;
    height: 40px;
    font-size: small;
    padding: 5px 10px;
    background-color: #336B87;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-small-post-card:hover {
    background-color: #90AFC5;
    color: #2A3132;
}

/* 左右の矢印ボタン */
.arrow-left, .arrow-right {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
}
/* -----------------------------------------------------------*/


/* Arrow   ---------------------------------------------------*/
.post-arrow-left, .post-arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 10; /* アイコンがカードの上に表示されるように */
}

.arrow-left {
    left: 0; /* 左矢印を左端に配置 */
}

.arrow-right {
    right: 0; /* 右矢印を右端に配置 */
}

.arrow-left i, .arrow-right i {
    font-size: 40px;
    color: #888;
}

.arrow-left:hover i, .arrow-right:hover i {
    color: #336B87;
}
/* -----------------------------------------------------------*/

.temperature {
    font-size: 2.5em;
    font-weight: bold;
}

.detail-item {
    text-align: left;
}
.detail-item p {
    margin: 0;
}
.detail-label {
    font-size: 0.8em;
    color: #888;
}
.icon {
    font-size: 2.5em;
    color: #ffcc00;
}
.more-details {
    font-size: 0.8em;
    color: #007bff;
    cursor: pointer;
}

.weather { 
    flex: 4; 
    display: flex; 
    flex-direction: column;
    justify-content: center; /* 上下中央揃えに */
    text-align: center;
}

.weather h3 {
    margin-bottom: 10px;
}

.weather-condition {
    font-size: 24px;
    margin-bottom: 5px;
}

.weather-icon-container { 
    display: flex; 
    align-items: center; 
    justify-content: center; /* アイコンを中央に配置 */
    margin-bottom: 10px; /* マージンを追加して下部スペースを調整 */
}

.weather-icon {
    margin-right: 10; /* アイコンと温度の間のスペースをなくす */
}

.weather-icon img {
    background-color: #add8e6; /* 背景色を水色に設定 */
    padding: 5px;
    width: 100px;
    height: 100px;
}

.weather-info { 
    display: flex; 
    flex-direction: column;
    align-items: center; /* センターに揃える */ 
    text-align: center;   
}

.weather-info p {
    margin: 0; 
    text-align: center;
}

.weather-details {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    font-size: 20px;
}

.weather-details p {
    flex: 1 1 50%; /* 各項目を50%の幅に設定 */ 
    margin: 5px 0;
}

.large-number { 
    font-size: 23px; /* 特定の部分のフォントサイズを大きく設定 */ 
    font-weight: bold; /* 強調表示 */
}

.unit {
    font-size: 14px; /* 単位のフォントサイズを小さく設定 */
    font-weight: normal; /* 通常のフォントウェイトに設定 */
}

/* PrecipitationとUV Indexの間のスペースを追加 */ 
.weather-details p:nth-child(3) {
    margin-bottom: 20px; /* 必要に応じてスペースを調整 */
}

.card3 { 
    flex: 1; /* 高さを揃えるために追加 */ 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

