.datepicker {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    margin-top: 0.25rem;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    right: auto;
    left: 0;
}

.datepicker.show {
    display: block;
}

.category-badge {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #2A3132; /* 緑色の丸枠 */
    border-radius: 50px; /* 丸枠にするための角の丸み */
    background-color: #90AFC5; /* 背景色を白に設定 */
    color: #2A3132; /* テキスト色を緑に設定 */
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.container {
    margin-left: auto; /* 両側のマージンを15pxに設定 */
    margin-right: auto; /* 必要に応じて調整 */
    
}

.btn-category {
    background-color: #005f73 !important; /* Coral color */
    color: #FFFFFF !important; /* 白色 */
    border: none !important;
    border-radius: 8px !important; /* 角を丸める */  
    font-size: 1rem !important; /* フォントサイズを大きくする */
    padding: 0.5rem 1rem !important; /* 上下左右の余白を調整 */     
}

.btn-category:hover {
    background-color: #90AFC5 !important; /* Darker coral on hover */
    color: #FFFFFF !important;
}

.btn-post {
    background-color: #005f73 !important; /* Indigo color */
    color: #FFFFFF !important; /* 白色 */
    border: none !important;
    border-radius:10px !important; /* 角を丸める */
    margin-right: 300px; /* PostボタンとSaveボタンの間に20pxの余白を追加 */
}

.btn-post:hover {
    background-color: #90AFC5 !important; /* Darker indigo on hover */
    color: #FFFFFF !important;
}

.btn-select {
    background-color: #005f73 !important; /* Coral color */
    color: #FFFFFF !important; /* 白色 */
    border: none !important;
    border-radius: 10px !important; /* 角を丸める */  
    font-size: 1rem !important; /* フォントサイズを大きくする */
    padding: 0.5rem 1rem !important; /* 上下左右の余白を調整 */     
}

.btn-select:hover {
        background-color: #90AFC5 !important; /* ホバー時の色 */
    }     

.cancel-btn {
        background-color: #2A3132 !important;
        color: white !important;
        transition: background-color 0.3s ease !important; /* ホバーのスムーズなトランジション */
    }
    /* Cancelボタンのホバースタイル */
.cancel-btn:hover {
        background-color: #B3B3B3 !important; /* ホバー時の色を少し明るく */
        color: white !important;
    } 

.btn-lg-custom {
    font-size: 1.25rem !important; /* フォントサイズ */
    padding: 0.75rem 1.5rem !important; /* 上下左右の余白 */
    width: 150px; /* ボタン幅を統一 */
}    
    
.btn-large {
        width: 100%;         /* 幅を100%に設定 */
        padding: 15px;       /* ボタンを少し高くする */
        font-size: 1.2em;    /* 文字サイズを大きく */
    }

    .btn-category {
        background-color: #005f73 !important; /* Coral color */
        color: #FFFFFF !important; /* 白色 */
        border: none !important;
        border-radius: 10px !important; /* 角を丸める */  
        font-size: 1rem !important; /* フォントサイズを大きくする */
        padding: 0.5rem 1rem !important; /* 上下左右の余白を調整 */     
    }
    
    .btn-category:hover {
        background-color: #90AFC5 !important; /* Darker coral on hover */
        color: #FFFFFF !important;
    }
    
    .btn-post {
        background-color: #005f73 !important; /* Indigo color */
        color: #FFFFFF !important; /* 白色 */
        border: none !important;
        border-radius: 10px !important; /* 角を丸める */
        margin-right: 300px; /* PostボタンとSaveボタンの間に20pxの余白を追加 */
    }
    
    .btn-post:hover {
        background-color: #90AFC5 !important; /* Darker indigo on hover */
        color: #FFFFFF !important;
    }
    
    .btn-select {
        background-color: #005f73 !important; /* Coral color */
        color: #FFFFFF !important; /* 白色 */
        border: none !important;
        border-radius: 8px !important; /* 角を丸める */  
        font-size: 1rem !important; /* フォントサイズを大きくする */
        padding: 0.5rem 1rem !important; /* 上下左右の余白を調整 */     
    }
    
    .btn-select:hover {
            background-color: #90AFC5 !important; /* ホバー時の色 */
        }     
    
    .cancel-btn {
            background-color: #2A3132 !important;
            color: white !important;
            transition: background-color 0.3s ease !important; /* ホバーのスムーズなトランジション */
        }
        /* Cancelボタンのホバースタイル */
    .cancel-btn:hover {
            background-color: #B3B3B3 !important; /* ホバー時の色を少し明るく */
            color: white !important;
        } 
    
    .btn-lg-custom {
        font-size: 1.25rem !important; /* フォントサイズ */
        padding: 0.75rem 1.5rem !important; /* 上下左右の余白 */
        width: 150px; /* ボタン幅を統一 */
    }    
        
    .btn-large {
            width: 100%;         /* 幅を100%に設定 */
            padding: 15px;       /* ボタンを少し高くする */
            font-size: 1.2em;    /* 文字サイズを大きく */
        }

        /* 全体のフォントをLatoに変更 */
        body {
            font-family: 'Lato', sans-serif;
        }
        /* 背景画像を薄く設定 */
        .background {
            background-image: url('/images/airplane.png'); /* 画像のパス */
            background-size: cover; /* 画像を全面に表示 */
            background-position: top center; /* 画像の上部中央を表示 */
            opacity: 0.07; /* 画像の透明度 */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; /* 背景として配置 */
        }
        
        .overlay-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: black;
            font-size: 24px;
            background-color: rgba(255, 255, 255, 0.5); /* 白の半透明 */
            padding: 10px;
            font-weight: bold; /* テキストを太くする */
        }

        .red-text {
            color: red; /* 赤色を指定 */
        }

        .long-underline {
            position: relative;
            display: inline-block; /* インラインブロックにして幅を調整 */
            padding-bottom: 5px; /* テキストとアンダーラインの間のスペース */
        }

        .long-underline::after {
            content: "";
            display: block;
            width: 250%; /* アンダーラインの幅を調整 */
            height: 1.5px; /* アンダーラインの太さ */
            background-color: black; /* アンダーラインの色 */
            position: absolute;
            left: 50%; /* 中央に配置 */
            transform: translateX(-50%); /* 中央に揃えるために左に50%移動 */
            bottom: -5px; /* テキストとの間隔を調整 */
        }

        .centered-text p {
            font-size: 40px; /* 必要に応じてサイズを調整 */
            font-weight: bold; /* 太くする場合 */
        }

        .rounded-image {
            border-radius: 15px; /* 角を15px丸めます。値は調整可能です。 */
        }

        .lightened-image {
            opacity: 0.6; /* 画像の透明度を50%に設定 */
        }
               
/* ページ全体を高さ100%にする */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* フレックスボックスで画面全体を構成 */
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ビューポート全体の高さに合わせる */
}

main {
    flex: 1; /* メインコンテンツをフレックスで拡張 */
}

.full-height {
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    min-height: 100vh; /* ビューポートの高さを100%に設定 */
}

.small-large-text {
    font-size: 1.25rem; /* 必要に応じてサイズを調整 */
    font-weight: bold; /* テキストを太くする場合 */
}

.form-shadow {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.input-group {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

    