.modal-header.bg-dark {
  background-color: #2A3132 !important; /* Dark background */
}

.modal-body {
  background-color: #FBF4F4; /* Light background color */
}

.modal-footer {
  background-color: #FBF4F4; /* Footer background color unified */
  border-radius: 0 0 10px 10px !important; /* Rounded corners for footer */
  overflow: hidden;
  border-top: none;
}

.btn-dark, .btn-outline-dark {
  background-color: #2A3132; /* Main button background color */
  color: #D9D9D9; /* Text color */
  border: none; /* No border */
  padding: 8px 20px; /* Adjusted padding for both buttons */
  text-decoration: none;
  border-radius: 10px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s;
}

button.btn.btn-dark:hover, button.btn.btn-outline-dark:hover {
  background-color: #D9D9D9; /* Hover background color */
  color: #2A3132; /* Hover text color */
  border: none; /* No border on hover */
}

.btn-outline-dark {
  background-color: transparent;
  border: none; /* Removed border for non-hover state */
}

.modal-content {
  border-radius: 10px !important;
  overflow: hidden;
}

.modal-body {
  background-color: #FBF4F4; /* Light background color */
}


.modal-header.bg-dark {
  background-color: #2A3132 !important; /* Force the dark background */
}

/* user icon */
.user-profile {
  display: inline-block;
}

.user-image {
  width: 64px; /* same as fa-4x */
  height: 64px; 
  border-radius: 50%;
  object-fit: cover; 
}

.modal-header.bg-dark {
  background-color: #2A3132 !important; /* Force the dark background */
}
