.modal-header.bg-dark {
    background-color: #2A3132 !important; /* Force the dark background */
  }
  
  .modal-body, .modal-footer {
    background-color: #FBF4F4; /* Light background color */
  }
  
  .btn-dark {
    background-color: #2A3132; /* Dark button background color */
      color: #D9D9D9; /* text */
      border: none; 
      padding: 10px 20px; 
      text-decoration: none; 
      border-radius: 10px; 
      transition: background-color 0.3s, color 0.3s; 
  }
  
  button.btn.btn-dark:hover {
      background-color: #D9D9D9; 
      color: #2A3132; 
  }
  
  
  /* user icon */
  .user-profile {
    display: inline-block;
  }
  
  .user-image {
    width: 64px; /* same as fa-4x */
    height: 64px; 
    border-radius: 50%;
    object-fit: cover; 
  }
  